.contactWrapper {
  width: calc((100% - 45px) / 4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgba(50, 50, 50, 0.845);
  border-radius: 10px;
  padding: 15px 20px;
  min-width: 400px;
}

.wrapper {
  display: flex;
  gap: 12px;
  align-items: center;
}

.btn {
  width: 80px;
  height: 30px;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: green;
}

.icon {
  fill: green;
}
